<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="content" th:if="${listParentCategories != null && !listParentCategories.isEmpty()}">
        <div class="row">
            <div class="col">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">
                                Trang chủ
                            </a>
                        </li>

                        <th:block th:each="category : ${listParentCategories}">
                            <li class="breadcrumb-item">
                                <a th:href="@{|/c/${category.alias}|}">
                                    [[${category.name}]]
                                </a>
                            </li>
                        </th:block>
                        <th:block th:if="${product != null}">
                            <li class="breadcrumb-item">[[${product.shortName}]]</li>
                        </th:block>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>