<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initital-scale=1.0, minimum-scale=1.0">
    <title>[[${title}]] - [[${SITE_NAME}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

    <div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
        <div class="text-center m-1">
		<span th:if="${totalItems > 0}">
			Hiển thị [[${entityName}]] từ # [[${startCount}]] đến [[${endCount}]] trên [[${totalItems}]]
		</span>
            <span th:unless="${totalItems > 0}">
			Không tìm thấy [[${entityName}]] nào
		</span>
        </div>
        <nav th:if="${totalItems > 0 && totalPages > 1}">
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${moduleURL} ,1, 'Đầu')"/>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${moduleURL} ,${currentPage - 1}, 'Trước')"/>
                </li>
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"/>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'} ">
                    <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Sau')"/>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Cuối')"/>
                </li>
            </ul>
        </nav>
    </div>

    <div th:fragment="modal_dialog"  class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Cảnh báo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>


    <a th:fragment="page_link(moduleURL, pageNumber, label)" class="page-link"
       th:href="@{|/${moduleURL}/page/${pageNumber}?sortField=${sortField}&sortDir=${sortDir}${keyword != null ? '&keyword=' + keyword : ''}|}">
        [[${label}]]
    </a>
</body>
</html>