<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head th:replace="fragments :: page_head('Trang chủ', 'none')">
</head>
<body>
<div th:replace="navigation :: menu_header"></div>
<div th:replace="navigation :: search_nav"></div>
<h1 class="text-center">Giỏ hàng của bạn</h1>
<div class="row m-1">
    <div class="col-sm-8">
        <th:block th:each="cartItem, status : ${cartItems}" th:with="product = ${cartItem.product}">
            <div class="row border rounded p-1" th:id="'row' + ${status.count}">
                <div class="col-1">
                    <div class="divCount">[[${status.count}]]</div>
                    <div>
                        <a class="fas fa-trash icon-dark linkRemove" th:href="@{|/carts/${product.id}|}" th:rowNumber="${status.count}"></a>
                    </div>
                </div>
                <div></div>
                <div class="col-3">
                    <img th:src="@{${product.mainImagePath}}" class="img-fluid">
                </div>
                <div class="col-6">
                    <a th:href="@{'/p/' + ${product.alias}}" target="_blank" th:title="${product.name}">[[${product.shortName}]]</a>
                    <div th:replace="cart/quantity_control :: quantity_control(${cartItem.quantity}, ${product.id})"></div>
                    <div>
                        X&nbsp;
                        <div th:replace="product/product_fragment :: product_price(${product})"></div>
                    </div>
                    <div>
                        =&nbsp;
                        <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span><span th:id="'subTotal' + ${product.id}" class="h4 sub-total">[[${#numbers.formatDecimal(cartItem.subTotal, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span><span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                    </div>
                </div>
            </div>
            <div>
                &nbsp;
            </div>
        </th:block>
    </div>
    <div class="col-sm-4" th:unless="${#lists.isEmpty(cartItems)}" id="sectionTotal">
        <div>
            <span class="h3">Tổng thanh toán:</span>
            <div>
                <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span><span id="total" class="h2">[[${#numbers.formatDecimal(estimatedTotal, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span><span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                <div th:if="${shippingSupported}">
                    <form th:action="@{/checkout}">
                        <button type="submit" class="btn btn-success">Đặt hàng</button>
                    </form>

                </div>
                <div th:unless="${shippingSupported}">
                    <div>
                        <span class="h5 text-warning">Không hỗ trợ vận chuyển tới địa chỉ của bạn</span>
                    </div>
                    <div th:if="${usePrimaryAddressAsDefault}">
                        <a th:href="@{/account-details(redirect=cart)}" class="h6">Cập nhật địa chỉ</a>
                    </div>
                    <div>
                        <a th:href="@{/address-book(redirect=cart)}" class="h5">Sử dụng địa chỉ khác</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:class="'text-center' + ${#lists.isEmpty(cartItems) ? '' : ' d-none'}" id="sectionEmptyCartMessage">
    <h3>Giỏ hàng của bạn hiện đang trống.</h3>
</div>
<div th:replace="fragments :: modal_dialog"></div>
<div th:replace="navigation :: menu_footer"></div>
<script>
    var contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";

    decimalDigits = [[${DECIMAL_DIGITS}]];
    decimalPointType = "[[${DECIMAL_POINT_TYPE}]]";
    thousandPointType = "[[${THOUSAND_POINT_TYPE}]]";
</script>
<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
<script type="text/javascript" th:src="@{/js/shopping_cart.js}"></script>
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
</body>
</html>