<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <head th:replace="fragments :: page_head(${pageTitle + ' - Shopme Admin'}, 'tag')"></head>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}"/>
    <script th:src="@{/richtext/jquery.richtext.min.js}"></script>

</head>

<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <div>
        <h2>Quản lý sản phẩm | [[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/products}" method="post" th:object="${product}"
          enctype="multipart/form-data"
          onsubmit="return checkUnique(this)"
    >
        <input type="hidden" id="id" name="id" th:value="*{id}">
        <input th:if="${product.category != null}" type="hidden" id="categoryId" th:value="${product.category.id}">
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#overview"
                            type="button" role="tab">Tổng quan
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-toggle="tab" data-target="#description" type="button"
                            role="tab">Mô tả
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-toggle="tab" data-target="#images" type="button"
                            role="tab">Ảnh
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-toggle="tab" data-target="#details" type="button"
                            role="tab">Chi tiết
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-toggle="tab" data-target="#shipping" type="button"
                            role="tab">Vận chuyển
                    </button>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane p-3 active" id="overview" role="tabpanel">
                    <div th:replace="products/product_overview :: content"></div>
                </div>
                <div class="tab-pane p-3" id="description" role="tabpanel">
                    <th:block th:unless="${isReadOnlyForSalePerson}">
                        <div th:replace="products/product_description :: content"></div>
                    </th:block>
                    <th:block th:if="${isReadOnlyForSalePerson}">
                        <div th:replace="products/product_description_read_only :: content"></div>
                    </th:block>
                </div>
                <div class="tab-pane p-3" id="images" role="tabpanel">
                    <th:block th:unless="${isReadOnlyForSalePerson}">
                        <div th:replace="products/product_images :: content"></div>
                    </th:block>
                    <th:block th:if="${isReadOnlyForSalePerson}">
                        <div th:replace="products/product_images_read_only :: content"></div>
                    </th:block>
                </div>
                <div class="tab-pane p-3" id="details" role="tabpanel">
                    <th:block th:unless="${isReadOnlyForSalePerson}">
                        <div th:replace="products/product_details :: content"></div>
                        <div>
                            <input type="button" class="btn btn-secondary" value="Thêm chi tiết"
                                   onclick="addNextDetailSection()">
                        </div>
                    </th:block>
                    <th:block th:if="${isReadOnlyForSalePerson}">
                        <div th:replace="products/product_details_read_only :: content"></div>
                    </th:block>
                </div>
                <div class="tab-pane p-3" id="shipping" role="tabpanel">
                    <th:block th:unless="${isReadOnlyForSalePerson}">
                        <div th:replace="products/product_shipping :: content"></div>
                    </th:block>
                    <th:block th:if="${isReadOnlyForSalePerson}">
                        <div th:replace="products/product_shipping_read_only :: content"></div>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Lưu" class="btn btn-primary m-3"/>
            <input type="button" value="Thoát" class="btn btn-secondary" id="buttonCancel"/>
        </div>
    </form>

    <div th:replace="modal_fragments :: warning_modal"></div>

    <div th:replace="fragments :: footer"></div>

</div>
<script type="text/javascript">
    moduleURL = "[[@{/products}]]";
    urlBrands = "[[@{/brands}]]";
    urlCheckUnique = "[[@{/products/check-unique}]]";
    MAX_FILE_SIZE = 512000;
    defaultImageThumbnail = "[[@{/images/image-thumbnail.png}]]";

</script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/product_form_overview.js}"></script>
<script th:src="@{/js/product_form_images.js}"></script>
<script th:src="@{/js/product_form_details.js}"></script>
</body>
</html>