<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Đặt lại mật khẩu', 'none')">
</head>
<body>
<div class="container-fluid text-center">
	<div th:replace="navigation :: menu_header"></div>
	<h1>Đặt lại mật khẩu</h1>
	<form th:action="@{/reset-password}" method="post" style="max-width: 420px; margin: 0 auto">
		<input type="hidden" name="token" th:value="${token}">
		<div class="border border-secondary rounded p-3">
			<div>
				<p>
					<input type="password" id="password" name="password" class="form-control" placeholder="Nhập mật khẩu mới" required minlength="8" maxlength="15" autofocus="autofocus"
						oninput="checkPasswordMatch(document.getElementById('confirmPassword'))">
				</p>
			</div>
			<div>
				<p>
					<input type="password" id="confirmPassword" class="form-control" placeholder="Xác nhận mật khẩu mới" minlength="8" maxlength="15" required
						oninput="checkPasswordMatch(this)">
				</p>
			</div>
			<div>
				<input type="submit" value="Đặt lại" class="btn btn-primary">
			</div>
		</div>
	</form>
	<div>
		&nbsp;
	</div>
	<div th:replace="navigation :: menu_footer"></div>
</div>
<script type="text/javascript">
	function checkPasswordMatch(confirmPassword) {
		if (confirmPassword.value !== $("#password").val()) {
			confirmPassword.setCustomValidity("Passwords do not match");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}
</script>
</body>
</html>